<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netbd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetBd"
        android:usesCleartextTraffic="true">

        <activity android:name=".Channels.BBC"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Channels.FoxLife"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Channels.Aljazeera"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Channels.News24"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Channels.Jamuna"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Channels.Somoy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Channels.RTVMusic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.BanglaVision"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.AsianTv"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.ColorsBangla"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Sonshod"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.ATVIslamic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Desh"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Mohona"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.MyTv"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.SATv"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.BijoyTv"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Mokka"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Sangram"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Vorercagog"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Deshrupantor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Manobkhontho"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Thedailystar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Jonokhonto"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Jugantor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Noyadigonto"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Somokal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TvActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Youtube.YoutubeLive"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Ittefaq"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.Kalerkantho"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewsPaperWeb.AmaderSomoy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Boishakhi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.ETV"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.BTV"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.ATN"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.DBC"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Channel_9"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Independent"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Channel_I"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Channels.Channel24"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>